<div class="row">
  <div class="col-sm-4">

    <form ng-submit="submit()" name="getuser">
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        GetInfo
      </button>
    </form>

    <br/>

    <h2>About</h2>
    <p class="lead">
      <img src="images/yeoman.png" alt="I'm Yeoman">
      <br> Always a pleasure scaffolding your apps.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a>
    </p>




  </div>
</div>
