<div class="row">
  <div class="col-sm-4">
    <h2>Egne oppfølgninger</h2>
    <br/>Dette er en test
  </div>
  <div class="col-sm-4">
    <h2>Andres oppfølgninger som er gått ut på dato</h2>
    <br/>
    <ul>
      <li>
        en test
      </li>
      <li>
        en test
      </li>
    </ul>
  </div>
  <div class="col-sm-4">
    <h2>Noe annet vissvass?</h2>
  </div>
</div>
<div>
  <h1>'Allo, 'Allo!</h1>
  <p>
    <img src="images/yeoman.png" alt="I'm Yeoman">
    <br> Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a>
  </p>
</div>
